
.InstrumentPanel {
    margin: 0;
    padding: 0;
}

.InstrumentPanelButton {
    width: 40px;
    height: 40px;
    background-color: rgb(160, 103, 207);
    border: 0px;
    margin: 1px;
    color: white;
}

.InstrumentPanelButton:active {
    background-color: rgb(184, 93, 161); 
}