.InstrumentPanel {
    display: flex;
}

.InstrumentButtonList {
    display: flex;
}

.InstrumentPanelButton {
    height: 35px;
    border: 0px;
    margin: auto;
}

.InstrumentPanelButton.Instrument {
    /*background-color: rgb(76, 89, 163);
     color: white; */
    width: 35px;
    margin-left: 2px;
}

.InstrumentPanelButton.Instrument.Selected {
    /*background-color: rgb(113, 73, 151);*/
}

.InstrumentPanelButton.Instrument:disabled {
    /*background-color: rgb(136, 119, 151);*/
}

.InstrumentPanelButton.ViewSetting {
    float: right;
    margin-left: 2px;
}

.InstrumentPanelButton.ViewSetting.Zoom {
    width: 35px;
}

.Settings {
    /* background-color: rgb(76, 163, 76);
    color: white; */
}

.InstrumentPanelInnerContainer {
    width: 100%;
}