
.ControlPanel {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.ControlPanelInner {
    width: 100%;
}

.ControlPanel button {
    background: none;
    border: 0;
}

.ControlButtonImage {
    height: 34px;
    width: 34px;
    margin-left: 3px;
    margin-right: 3px;
}

.ControlButtonImage.Track {
    width: 30px;
    height: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.ControlVolume {
    margin-right: 10px;
    width: 80px;
}

.LoopButton.Selected {
    color: yellow;
}