.InstrumentPanel {
    display: flex;
}

.InstrumentButtonList {
    display: flex;
}

.InstrumentPanelButton {
    height: 35px;
    border: 0px;
    margin: auto;
    background: rgb(88, 32, 179);
}

.InstrumentPanelButton.Instrument {    
    width: 35px;
    margin-right: 2px;
}

.InstrumentPanelButton.Instrument.Selected {
    background: rgb(98, 72, 248);
}

.InstrumentPanelButton.Instrument:disabled {
    background: rgb(70, 19, 153);
}

.InstrumentPanelButton.ViewSetting {
    float: right;
    margin-left: 2px;
}

.InstrumentPanelButton.ViewSetting.Zoom {
    width: 35px;
}

.InstrumentPanelInnerContainer {
    width: 100%;
}