.UserInfoContainer {
    display: flex;
    width: 100%;
    padding: 10px;
}

.UserImageContainer {
    width: 100px;
}

.UserImage img{
    height: 100px;
    width: inherit;
    border-radius: 50px;
}

.UserInfoName {
    width: 100%;
    color: yellow;
}

.UserInfo {
    width: 100%;
    margin: 10px;
}

.UserLinksContainer {
    width: 100%;
    display: flex;
}

.UserLinks {
    margin: auto;
    display: inline-block;
}

.UserListsHeader {
    width: 100%;
}
