.UserInfoContainer {
    display: flex;
    width: 100%;
}

.UserImageContainer {
    width: 100px;
}

.UserImage {
    height: 100px;
    width: inherit;
}

.UserNameContainer {
    width: 100%;
}

.UserInfo {
    width: 100%;
}

.UserLinksContainer {
    width: 100%;
    display: flex;
}

.UserLinks {
    margin: auto;
    display: inline-block;
}

.UserListsHeader {
    width: 100%;
}