.ItemListContainer.User {
    top: 180px;
}

.UserInfoContainer {
    display: flex;
    width: 99.5%;
    padding-left: 0.5%;
    padding-top: 10px;
    background-image: linear-gradient( rgb(230, 232, 235), rgb(188, 193, 219));
}

.UserImageContainer {
    width: 100px;
}

.UserImage img{
    height: 100px;
    width: inherit;
    border-radius: 50px;
}

.UserInfoName {
    width: 100%;
    font-size: 18px;
}

.UserInfo {
    width: 100%;
    margin: 10px;
}

.UserLinksContainer {
    width: 100%;
    display: flex;
}

.UserLinks {
    margin: auto;
    display: inline-block;
}

.UserLinks a {
    color: black;
    text-decoration: none;
}

.UserLinkItem {
    background: white;
    color: black;
    font-size: 17px;
    margin-left: 1px;
}

