.PageContainer.Editor {
    min-width: 530px;
    left: 15%;
    width: 70%;
}

.InstrumentPanelContainer {
    width: 100%;
    padding-bottom: 2px;
}

.InfoPanelContainer {
    width: 100%;
}

.WorkspacePages {
    margin : auto;
}

.ControlPanelContainer {
    position:absolute;
    width: 100%;
    bottom:0px;
    background: rgba(81, 55, 124, 0.664);
}

.SettingsPanelContainer {
    width: 100%;
}

.TrackPanelContainer {
    vertical-align: top;
    padding-right: 2px;
}