.UserInfo {
    width: 100%;
}

.UserLinksContainer {
    width: 100%;
    display: flex;
}

.UserLinks {
    margin: auto;
    display: inline-block;
}

.UserListsHeader {
    width: 100%;
}

.UserList {
    width: 100%;
    margin: auto;
    padding: 0;
    list-style: none
}
