.Editor {
    width: 100%;
}

.InstrumentPanelContainer {
    width: 100%;
    padding-bottom: 2px;
}

.WorkspacePages {
    margin : auto;
}

.ControlPanelContainer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.SettingsPanelContainer {
    width: 100%;
}

.TrackPanelContainer {
    vertical-align: top;
    padding-right: 2px;
}