.ItemListContainer.Group {
    top: 180px;
}

.GroupInfo {
    width: 100%;
}

.GroupListsHeader {
    width: 100%;
}

.GroupInfoContainer {
    display: flex;
    width: 99.5%;
    padding-left: 0.5%;
    padding-top: 10px;
    background-image: linear-gradient( rgb(230, 232, 235), rgb(188, 193, 219));
}

.GroupInfoName{
    width: 100%;
}

.GroupImageContainer {
    width: 100px;
}

.GroupImage img{
    height: 100px;
    width: inherit;
}

.GroupInfoTableContainer {
    width: 100%;
    background: white;
}

.GroupInfoTable {
    table-layout: auto;
    background: white;
}

.GroupCreator {
    color: blue
}

.GroupInfo {
    width: 100%;
    margin: 10px;
}

.GroupImageButton button {
    width: 100%;
}